<!DOCTYPE HTML>
<html>

<head>
  <title>Movie App</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</head>

<body style="background-color: #eee">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Movie App </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="">Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Update</a>
        </li>
        <li class="nav-item">
          <a href="/" class="nav-link">Delete</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/">All Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="logOut()" href="/">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>

  <h1 style="text-align: center;"> Movie App </h1>
  <br></br>
  <div id="movieInfo" class="container">
    <div id="movie">
    </div>
  </div>
</body>
<script src="/public/logOut.js"></script>

<script>
  window.addEventListener("load", (req, res) => {
    const url = window.location.pathname;
    const id = url.substring(url.lastIndexOf('/') + 1)
    const token = localStorage.getItem('token');
    const bearer = 'Bearer ' + token
    fetch('http://localhost:3000/api/movie/' + id, {
      method: "GET",
      headers: {
        'Authorization': bearer,
      }
    })
      .then(res => res.json())
      .then(response => {
        let html = '';
        html += ` <div class="card single-movie-card">`
        html += `<div class="card-body">`
        html += `
              <p class="text-center data-label"> Title </p>
              <h3 class="text-center data-title"> ${response.data.name} </h3>
              `;
        html += `<h6>  Rating: ${response.data.rating}  </h6>`;
        html += `<h6>  Realease Year: ${response.data.release} </h6>`;
        html += `<h6>  Directors: ${response.data.directors} </h6>`;
        html += `<br>`
        html += `</br>`
        html += `<center>`
        html += `<div id="searchId">`
        html += `<a  type="submit" href="/update/${response.data._id}">Edit Movie</a>`
        html += `<br>`
        html += `</br>`
        html += `<a  type="submit" onClick="deleteMovie()" href="">Delete Movie</a>`
        html += `</div>`
        html += `</center>`
        html += `</div>`;
        html += `</div>`;

        const movieContainer = document.getElementById("movie");
        movieContainer.innerHTML = html;
      })
      .catch(error => console.error('Error:', error));
  })
</script>

<script>

  const deleteMovie = () => {
    const url = window.location.pathname;
    const id = url.substring(url.lastIndexOf('/') + 1)
    const token = localStorage.getItem('token');
    const bearer = 'Bearer ' + token
    fetch('http://localhost:3000/api/movie/' + id, {
      method: "DELETE",
      headers: {
        'Authorization': bearer,
      }
    })
      .then(res => res.json())
      .then(response => {
      })
      .catch(error => console.error('Error:', error));
  }
  
</script>

</html>